* {
  margin: 0;
  padding: 0;
}
.range {
  width: 100%;
  height: 150px;
}
header {
  background-image: url("img/banner.png");
  height: 926px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.nav {
  width: 1210px;
  height: 156px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  position: relative;
}
.nav .menu {
  position: absolute;
  left: 0;
  line-height: 156px;
}
.nav .menu ul li {
  display: inline-block;
  color: #fff;
  height: 30px;
  padding: 10px;
  font-size: 24px;
}
.nav .logo {
  position: absolute;
  left: 45%;
  top: 45px;
  /* bottom: 0; */
  /* line-height: 156px; */
}
.nav .brands {
  position: absolute;
  right: 0px;
  line-height: 156px;
}
.nav .brands .list-brands {
  display: inline-block;
  padding: 10px;
}
.content-header {
  width: 100%;
  height: 853.06px;
  padding: 80px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.content-header span {
  background-color: #2091f9;
  width: 236px;
  border-radius: 35px;
  height: 52px;
  display: block;
  font-size: 24px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
}
.content-header span > p {
  line-height: 52px;
}
.content-header h1 {
  font-size: 64px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}
.content-header > p {
  width: 600px;
  font-size: 18px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
/* content */
.content h1 {
  text-align: center;
  padding-bottom: 14px;
  font-size: 64px;
}
.content > p {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}
.content .list {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.content .list .list-item {
  flex-basis: 25%;
}
.content .list .list-item > img,
h3 {
  padding-bottom: 10px;
}
.img-content {
  text-align: center;
}
/* content 2 */
.content-2 {
  width: 1230px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
.content-2 .layer-1 {
  text-align: left;
}
.content-2 .layer-1 > h1 {
  width: 450px;
  font-size: 64px;
  font-weight: 400;
}
.content-2 .layer-1 > p {
  font-size: 32px;
  padding: 14px 0px;
}
.content-2 .layer-1 > button {
  background-color: #2091f9;
  margin: 60px 0px;
  padding: 19px 38px;
  border-radius: 39px;
  border: 0;
  color: #fff;
}
.content-2 .layer-1 .layer1-1 > h4 {
  margin: 7px 0px;
}
.content-2 .layer-1 .layer1-1 > h1 {
  width: 450px;
  font-size: 64px;
  font-weight: 400;
}
.content-2 .layer2 {
  margin-left: -200px;
}
.content-2 .layer-1 .layer1-2 {
  padding: 15px 0px;
}
.content-2 .layer-1 .layer1-2 > h4 {
  padding: 10px 0px 0px 10px;
}
.content-2 .layer-1 .layer1-2 > p {
  padding: 0px 0px 0px 10px;
}
.content-2 .layer-1 .layer1-2 > button {
  background-color: #2091f9;
  margin: 36px 0px;
  padding: 19px 38px;
  border-radius: 39px;
  border: 0;
  color: #fff;
}
.content-2 .layer-1 .layer1-2 > input {
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 19px 39px;
}

/* content-3 */
.content-3 .layer-1 {
  text-align: center;
  margin: 80px 0px;
}
.content-3 .layer-1 > h1 {
  font-size: 64px;
  font-weight: 400;
}
.content-3 .layer-1 > p {
  font-size: 32px;
  width: 518px;

  padding: 10px;
  margin: 7px auto;
}
.content-3 .layer-2 {
  text-align: center;
}
.content-3 .layer-3 {
  text-align: center;
  margin: 80px 0px;
}
.content-3 .layer-3 > button {
  background-color: #2091f9;
  margin: 36px 0px;
  padding: 19px 38px;
  border-radius: 39px;
  border: 0;
  color: #fff;
  font-size: 24px;
}
.content-3 .layer-2 > p {
  margin: 60px auto;
  font-size: 32px;
  width: 950px;
}
.content-3 .layer-2 .client {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-3 .layer-2 .client > img {
  display: inline-block;
}
.content-3 .layer-2 .client .client-text {
  display: inline-block;
  padding-left: 5px;
  text-align: left;
}

/* content-4 */
.content-4 {
  background: #252b42;
  width: 100%;
}
.content-4 .layer-1 {
  padding: 100px 0px;
  text-align: center;
  color: #fff ;
  width: 538px;
  margin: 0px auto ;
}
.content-4 .layer-1 > h1 {
  font-size: 64px;
  font-weight: 400;
}
.content-4 .layer-1 > p {
  font-size: 32px;
}
.content-4 .layer-2 {
  padding-bottom: 100px;
  width: 1105px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.content-4 .layer-2 .layer-2-item {
  background-color: #e8e8e8;
  flex-basis: 30%;
  border-radius: 10px;
  /* min-height: auto; */
}
.content-4 .layer-2 .layer-2-item .layer-2-item-1 {
  margin-top: 40px;
  text-align: center;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
}
.content-4 .layer-2 .layer-2-item .layer-2-item-2 {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer-2 .layer-2-item .layer-2-item-2 .layer-2-item-2-1 {
  font-size: 80px;
  font-weight: 900;
}
.layer-2 .layer-2-item .layer-2-item-2 .layer-2-item-2-2 {
  transform: translateY(-10px);
  padding-left: 5px;
}
.content-4 .layer-2 .layer-2-item-2-3 {
  text-align: center;
}
.content-4 .layer-2 .layer-2-item-3 > p {
  text-align: center;
  padding: 10px 0px;
}
.content-4 .layer-2 .layer-2-item  button {
  padding: 18px 65px;
  font-size: 24px;
  color: #fff;
  background-color: #2091f9;
  border-radius: 35px;
  border: 0;
  display: block;
  margin: 40px auto;
}

/* center */
.content-4 .layer-2 .layer-2-item-center  {
  background-color: #2091f9;
  color: #fff;
  flex-basis: 30%;
  border-radius: 10px;
}
.content-4 .layer-2 .layer-2-item-center .layer-2-item-1-center {
  margin-top: 40px;
  text-align: center;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
}
.content-4 .layer-2 .layer-2-item-center .layer-2-item-2-center {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer-2 .layer-2-item-center .layer-2-item-2-center .layer-2-item-2-1-center {
  font-size: 80px;
  font-weight: 900;
}
.layer-2 .layer-2-item-center .layer-2-item-2-center .layer-2-item-2-2-center {
  transform: translateY(-10px);
  padding-left: 5px;
}
.content-4 .layer-2 .layer-2-item-2-3-center {
  text-align: center;
}
.content-4 .layer-2 .layer-2-item-3-center > p {
  text-align: center;
  padding: 10px 0px;
}
.content-4 .layer-2 .layer-2-item-center  button {
  padding: 18px 65px;
  font-size: 24px;
  color: #fff;
  background-color: #2091f9;
  border-radius: 35px;
  border: 0;
  display: block;
  margin: 40px auto;
}

#layer-2-item-1{
  /* padding-top: 80px; */
}
/* #layer-2-item-4{
  padding-bottom: 80px;
} */
#button{
  background-color: #fff;
  color: #2091f9;
  /* padding-bottom: 80px; */
}
/* .content-4 .layer-2 .layer-2-item-center #layer-2-item-4-center{
  padding-bottom: 80px;
} */
.test{
  height: 40px;
}
/* bản đồ  "map" */
iframe {
  border: 1px solid black;
  border-radius: 20px;
}
